<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="errorPage">
    <!--<span class="oops">Oops!</span><br/>
    <p>There seems to be a problem with the page you requested
        (<span th:text="${path}"></span>).</p>
    <p th:text="${'Details: ' + message}"></p>
-->
    <img width="80%" height="70%" th:src="@{/img/MissingPage.jpg}"/>

</div>
</body>
</html>